bond-plugins-open/src/main/resources/RestAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="restapi"
    xmlns="http://www.veeam.com/ent/v1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.veeam.com/ent/v1.0"
    elementFormDefault="qualified">

  <!-- root elements { -->

  <xs:element name="LogonSession" type="LogonSessionType" />
  <xs:element name="LogonSessions" type="LogonSessionListType" />
  <xs:element name="EnterpriseManager" type="EnterpriseManagerType" />
  <xs:element name="EntityRef" type="EntityReferenceType" />
  <xs:element name="EntityReferences" type="EntityReferenceListType" />
  <xs:element name="BackupServer" type="BackupServerEntityType" />
  <xs:element name="BackupServers" type="BackupServerEntityListType" />
  <xs:element name="Job" type="JobEntityType" />
  <xs:element name="Jobs" type="JobEntityListType" />
  <xs:element name="ObjectInJob" type="ObjectInJobType" />
  <xs:element name="ObjectsInJob" type="ObjectInJobListType" />
  <xs:element name="Backup" type="BackupEntityType" />
  <xs:element name="Backups" type="BackupEntityListType" />
  <xs:element name="Replica" type="ReplicaEntityType" />
  <xs:element name="Replicas" type="ReplicaEntityListType" />
  <xs:element name="RestorePoint" type="RestorePointEntityType" />
  <xs:element name="RestorePoints" type="RestorePointEntityListType" />
  <xs:element name="VmRestorePoint" type="VmRestorePointEntityType" />
  <xs:element name="VmRestorePoints" type="VmRestorePointEntityListType" />
  <xs:element name="VmReplicaPoint" type="VmReplicaPointEntityType" />
  <xs:element name="VmReplicaPoints" type="VmReplicaPointEntityListType" />
  <xs:element name="VmRestorePointMount" type="VmRestorePointMountType" />
  <xs:element name="VmRestorePointMounts" type="VmRestorePointMountListType" />
  <xs:element name="VmReplicaPointMount" type="VmReplicaPointMountType" />
  <xs:element name="VmReplicaPointMounts" type="VmReplicaPointMountListType" />
  <xs:element name="FileSystemEntry" type="FileSystemEntryType" />
  <xs:element name="FileSystemEntries" type="FileSystemEntriesType" />
  <xs:element name="HierarchyRoot" type="HierarchyRootEntityType" />
  <xs:element name="HierarchyRoots" type="HierarchyRootEntityListType"/>
  <xs:element name="Repository" type="RepositoryEntityType" />
  <xs:element name="Repositories" type="RepositoryEntityListType" />
  <xs:element name="BackupJobSession" type="BackupJobSessionEntityType" />
  <xs:element name="BackupJobSessions" type="BackupJobSessionEntityListType" />
  <xs:element name="ReplicaJobSession" type="ReplicaJobSessionEntityType" />
  <xs:element name="ReplicaJobSessions" type="ReplicaJobSessionEntityListType" />
  <xs:element name="RestoreSession" type="RestoreSessionEntityType" />
  <xs:element name="RestoreSessions" type="RestoreSessionEntityListType" />
  <xs:element name="BackupTaskSession" type="BackupTaskSessionEntityType" />
  <xs:element name="BackupTaskSessions" type="BackupTaskSessionEntityListType" />
  <xs:element name="ReplicaTaskSession" type="ReplicaTaskSessionEntityType" />
  <xs:element name="ReplicaTaskSessions" type="ReplicaTaskSessionEntityListType" />


  <xs:element name="QueryResult" type="QueryResultType" />

  <xs:element name="LoginSpec" type="LoginSpecType" />
  <xs:element name="RestoreSpec" type="RestoreSpecType" />
  <xs:element name="FileRestoreSpec" type="FileRestoreSpecType" />
  <xs:element name="JobCloneSpec" type="JobCloneSpecType" />
  <xs:element name="CreateObjectInJobSpec" type="CreateObjectInJobSpecType"/>

  <xs:element name="Task" type="TaskType" />
  <xs:element name="Tasks" type="TaskListType" />

  <xs:element name="SummaryReport" type="SummaryReportType" />
  <xs:element name="OverviewReportFrame" type="OverviewReportFrameType" />
  <xs:element name="VmsOverviewReportFrame" type="VmsOverviewReportFrameType" />
  <xs:element name="JobStatisticsReportFrame" type="JobStatisticsReportFrameType" />
  <xs:element name="RepositoryReportFrame" type="RepositoryReportFrameType" />
  <xs:element name="ProcessedVmsReportFrame" type="ProcessedVmsReportFrameType"/>

  <xs:element name="Error" type="ErrorType" />
  <xs:element name="HierarchyItem" type="HierarchyItemType"/>
  <xs:element name="HierarchyItems" type="HierarchyItemListType"/>
  <xs:element name="QuerySvc" type="QuerySvcType"/>
  <xs:element name="LookupSvc" type="LookupSvcType"/>
  <xs:element name="ReportingSvc" type="ReportingSvcType"/>
  <xs:element name="CredentialsInfo" type="CredentialsInfoType" />
  <xs:element name="CredentialsInfoList" type="CredentialsInfoListType" />
  <xs:element name="CredentialsInfoSpec" type="CredentialsInfoSpecType" />


  <xs:element name="CatalogVm" type="CatalogVmEntityType" />
  <xs:element name="CatalogVms" type="CatalogVmEntityListType" />
  <xs:element name="CatalogVmRestorePoint" type="CatalogVmRestorePointEntityType" />
  <xs:element name="CatalogVmRestorePoints" type="CatalogVmRestorePointEntityListType" />

  <xs:element name="EnterpriseRole" type="EnterpriseRoleEntityType" />
  <xs:element name="EnterpriseRoles" type="EnterpriseRoleEntityListType" />


  <xs:element name="EnterpriseAccount" type="EnterpriseAccountEntityType" />
  <xs:element name="EnterpriseAccounts" type="EnterpriseAccountEntityListType" />

  <xs:element name="EnterpriseAccountHierarchyScope" type="EnterpriseAccountHierarchyScopeType" />
  <xs:element name="EnterpriseAccountHierarchyScopes" type="EnterpriseAccountHierarchyScopeListType" />

  <xs:element name="EnterpriseAccountInRole" type="EnterpriseAccountInRoleType" />
  <xs:element name="EnterpriseAccountInRoleList" type="EnterpriseAccountInRoleListType" />

  <xs:element name="HierarchyScopeCreateSpec" type="HierarchyScopeCreateSpecType" />
  <xs:element name="EnterpriseAccountInRoleCreateSpec" type="EnterpriseAccountInRoleCreateSpecType" />
  <xs:element name="EnterpriseSecuritySettings" type="EnterpriseSecuritySettingsType" />
  <xs:element name ="EnterpriseAccountCreateSpec" type="EnterpriseAccountCreateSpecType" />
  <xs:element name="RebuildScopeJobSpec" type="RebuildScopeJobSpecType" />

  <xs:element name="JobManagementSpec" type="JobManagementSpecType" />
  

  <!-- } root elements -->
 

  <xs:complexType name="LoginSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:sequence>
          <xs:element name="VMwareSSOToken" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="LogonSessionListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="LogonSession" type="LogonSessionType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LogonSessionType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="UserName" minOccurs="1" maxOccurs="1" type="string" />
          <xs:element name="SessionId" minOccurs="1" maxOccurs="1" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- statictics and reports { -->

  <xs:complexType name="SummaryReportType">
    <xs:complexContent>
      <xs:extension base="ReportResourceType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OverviewReportFrameType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="BackupServers" type="int" />
          <xs:element name="ProxyServers" type="int" />
          <xs:element name="RepositoryServers" type="int" />
          <xs:element name="RunningJobs" type="int" />
          <xs:element name="ScheduledJobs" type="int" />
          <xs:element name="SuccessfulVmLastestStates" type="int" />
          <xs:element name="WarningVmLastestStates" type="int" />
          <xs:element name="FailedVmLastestStates" type="int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmsOverviewReportFrameType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="ProtectedVms" type="int" />
          <xs:element name="BackedUpVms" type="int" />
          <xs:element name="ReplicatedVms" type="int" />
          <xs:element name="RestorePoints" type="int" />
          <xs:element name="FullBackupPointsSize" type="long" />
          <xs:element name="IncrementalBackupPointsSize" type="long" />
          <xs:element name="ReplicaRestorePointsSize" type="long" />
          <xs:element name="SourceVmsSize" type="long" />
          <xs:element name="SuccessBackupPercents" type="int" />
          <xs:element name="ProtectedVmsReportLink" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobStatisticsReportFrameType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="RunningJobs" type="int" />
          <xs:element name="ScheduledJobs" type="int" />
          <xs:element name="ScheduledBackupJobs" type="int" />
          <xs:element name="ScheduledReplicaJobs" type="int" />
          <xs:element name="TotalJobRuns" type="int" />
          <xs:element name="SuccessfulJobRuns" type="int" />
          <xs:element name="WarningsJobRuns" type="int" />
          <xs:element name="FailedJobRuns" type="int" />
          <xs:element name="MaxJobDuration" type="TimeSpan" />
          <xs:element name="MaxBackupJobDuration" type="TimeSpan" />
          <xs:element name="MaxReplicaJobDuration" type="TimeSpan" />
          <xs:element name="MaxDurationBackupJobName" type="string" />
          <xs:element name="MaxDurationReplicaJobName" type="string" />
          <xs:element name="BackupJobStatusReportLink" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="InfoType" abstract="true">
  </xs:complexType>


  <xs:complexType name="RepositoryReportFrameType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Period">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Name" type="string" />
                  <xs:element name="Capacity" type="long" />
                  <xs:element name="FreeSpace" type="long" />
                  <xs:element name="BackupSize" type="long" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="CapacityPlanningReportLink" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ProcessedVmsReportFrameType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Day">
              <xs:complexType>
                <xs:attribute name="Timestamp" type="DateTime" use="required" />
                <xs:attribute name="ReplicatedVms" type="int" use="required" />
                <xs:attribute name="BackupedVms" type="int" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- } statictics and reports -->

  <xs:complexType name="EnterpriseManagerType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="SupportedVersions" type="SupportedVersionListType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SupportedVersionListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="1" maxOccurs="unbounded" >
          <xs:element name="SupportedVersion" type="SupportedVersionType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SupportedVersionType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="Links" type="LinkListType" />
        </xs:sequence>
        <xs:attribute name="Name" use="required" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ListType">
  </xs:complexType>

  <xs:complexType name="ReportResourceType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LinkListType">
    <xs:choice minOccurs="0" maxOccurs="unbounded" >
      <xs:element name="Link" type="LinkType" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="LinkType">
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:attribute name="Rel" use="required" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReferenceType">
    <xs:attribute name="Href" use="required" type="UrlType" />
    <xs:attribute name="Name" use="optional" type="string" />
    <xs:attribute name="Type" use="optional" type="string" />
  </xs:complexType>

  <xs:complexType name="ResourceType">
    <xs:sequence>
      <xs:element name="Links" type="LinkListType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="Href" use="required" type="UrlType" />
    <xs:attribute name="Type" use="optional" type="string" />
  </xs:complexType>

  <xs:complexType name="EntityType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:attribute name="Name" use="required" type="string" />
        <xs:attribute name="UID" use="required" type="UidType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EntitiesType">
    <xs:choice minOccurs="1" maxOccurs="1" >
      <xs:element name="Jobs" type="JobEntityListType" />
      <xs:element name="Backups" type="BackupEntityListType" />
      <xs:element name="Replicas" type="ReplicaEntityListType" />
      <xs:element name="Repositories" type="RepositoryEntityListType" />
      <xs:element name="RestorePoints" type="RestorePointEntityListType" />
      <xs:element name="VmRestorePoints" type="VmRestorePointEntityListType" />
      <xs:element name="VmReplicaPoints" type="VmReplicaPointEntityListType" />
      <xs:element name="BackupJobSessions" type="BackupJobSessionEntityListType" />
      <xs:element name="ReplicaJobSessions" type="ReplicaJobSessionEntityListType" />
      <xs:element name="ReplicaTaskSessions" type="ReplicaTaskSessionEntityListType" />
      <xs:element name="RestoreSessions" type="RestoreSessionEntityListType" />
      <xs:element name="HierarchyRoots" type="HierarchyRootEntityListType" />
      <xs:element name="BackupTaskSessions" type="BackupTaskSessionEntityListType" />
      <xs:element name="BackupServers" type="BackupServerEntityListType" />
      <xs:element name="EnterpiseRoles" type="EnterpriseRoleEntityListType" />
      <xs:element name="EnterpiseAccounts" type="EnterpriseAccountEntityListType" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="ResourcesType">
    <xs:choice minOccurs="1" maxOccurs="1" >
      <xs:element name="Files" type="FileEntryListType" />
      <xs:element name="Directories" type="DirectoryEntryListType" />
      <xs:element name="Tasks" type="TaskListType" />
      <xs:element name="CredentialsList" type="CredentialsInfoListType" />
      <xs:element name="sInObjectJob" type="ObjectInJobListType" />
      <xs:element name="AccountRole" type="EnterpriseAccountInRoleListType" />
      <xs:element name="AccountHierarchyScope" type="EnterpriseAccountHierarchyScopeListType" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="ParamsType">
  </xs:complexType>

  <xs:complexType name="SpecType">
    <xs:complexContent>
      <xs:extension base="ParamsType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EntityReferenceListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="Ref" type="EntityReferenceType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EntityReferenceType">
    <xs:sequence>
      <xs:element name="Links" type="LinkListType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="UID" use="required" type="UidType" />
    <xs:attribute name="Name" use="required" type="string" />
    <xs:attribute name="Href" use="required" type="UrlType" />
    <xs:attribute name="Type" use="required" type="string" />
  </xs:complexType>

  <xs:complexType name="BackupServerEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="BackupServer" type="BackupServerEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BackupServerEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="Description" type="string" />
          <xs:element name="Port" type="ushort" />
          <xs:element name="Version" type="VersionType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobSessionEntityType" abstract="true">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="JobUid" type="UidType" />
          <xs:element name="JobName" type="string" />
          <xs:element name="JobType" type="string" />
          <xs:element name="CreationTimeUTC" type="DateTime" />
          <xs:element name="EndTimeUTC" type="DateTime" />
          <xs:element name="State" type="string" />
          <xs:element name="Result" type="string" />
          <xs:element name="FailureMessage" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BackupJobSessionEntityType">
    <xs:complexContent>
      <xs:extension base="JobSessionEntityType">
        <xs:sequence>
          <xs:element name="IsRetry" type="bool" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplicaJobSessionEntityType">
    <xs:complexContent>
      <xs:extension base="JobSessionEntityType">
        <xs:sequence>
          <xs:element name="IsRetry" type="bool" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RestoreSessionEntityType">
    <xs:complexContent>
      <xs:extension base="JobSessionEntityType">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="VmDisplayName" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="BackupTaskSessionEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="CreationTimeUTC" type="DateTime"/>
          <xs:element name="EndTimeUTC" type="DateTime" />
          <xs:element name="State" type="string" />
          <xs:element name="Result" type="string" />
          <xs:element name="Reason" type="string" />
          <xs:element name="TotalSize" type="long" />
        </xs:sequence>
        <xs:attribute name="VmDisplayName" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BackupTaskSessionEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="BackupTaskSession" type="BackupTaskSessionEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplicaTaskSessionEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="CreationTimeUTC" type="DateTime"/>
          <xs:element name="EndTimeUTC" type="DateTime" />
          <xs:element name="State" type="string" />
          <xs:element name="Result" type="string" />
          <xs:element name="Reason" type="string" />
          <xs:element name="TotalSize" type="long" />
        </xs:sequence>
        <xs:attribute name="VmDisplayName" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplicaTaskSessionEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="ReplicaTaskSession" type="ReplicaTaskSessionEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="PlainCredentialsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="UserName" type="string" />
          <xs:element name="Password" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="CredentialsInfoType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="Id" type="string" />
          <xs:element name="Username" type="string" minOccurs="0" maxOccurs="1" />
          <xs:element name="Description" type="string" minOccurs="0" maxOccurs="1" />
          <xs:element name="Password" type="string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="CredentialsInfoListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="CredentialsInfo" type="CredentialsInfoType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CredentialsInfoSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:sequence>
          <xs:element name="Username" type="string" minOccurs="0" maxOccurs="1" />
          <xs:element name="Description" type="string" minOccurs="0" maxOccurs="1" />
          <xs:element name="Password" type="string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="JobEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="Job" type="JobEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="JobType" minOccurs="0" maxOccurs="1" type="string" />
          <xs:element name="Platform" minOccurs="0" maxOccurs="1" type="string" />
          <xs:element name="Description" minOccurs="0" maxOccurs="1" type="string" />
          <xs:element name="ScheduleConfigured" minOccurs="0" maxOccurs="1" type="bool" />
          <xs:element name="ScheduleEnabled" minOccurs="0" maxOccurs="1" type="bool" />
          <xs:element name="NextRun" minOccurs="0" maxOccurs="1" type="DateTime" />
          <xs:element name="JobScheduleOptions" minOccurs="0" maxOccurs="1" type="JobScheduleOptionsInfoType" />

          <xs:element name="JobInfo" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="BackupJobInfo" type="BackupJobInfoType" />
                <xs:element name="FileCopyJobInfo" type="FileCopyJobInfoType" />
                <xs:element name="ReplicaJobInfo" type="ReplicaJobInfoType" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobManagementSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:sequence>
          <xs:element name="Credentials" type="PlainCredentialsType" />
          <xs:element name="Force" type="bool" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BackupJobInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="Includes" minOccurs="0" maxOccurs="1" type="ObjectInJobListType" />
          <xs:element name="GuestProcessingOptions" minOccurs="0" maxOccurs="1" type="GuestProcessingOptionsType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ObjectInJobListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="ObjectInJob" type="ObjectInJobType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ObjectInJobType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="ObjectInJobId" type="string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="HierarchyObjRef" type="HierarchyObjRefType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="Name" type="string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="DisplayName" type="string" />
          <xs:element name="Order" type="int" minOccurs="0" maxOccurs="1"/>
          <xs:element name="GuestProcessingOptions" type="GuestProcessingOptionsType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="CreateObjectInJobSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:sequence>
          <xs:element name="HierarchyObjRef" type="HierarchyObjRefType" minOccurs="1" maxOccurs="1"/>
          <xs:element name="HierarchyObjName" type="string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="Order" type="int" minOccurs="0" maxOccurs="1"/>
          <xs:element name="GuestProcessingOptions" type="GuestProcessingOptionsType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="JobItemVssOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="Enabled" type="bool" />
          <xs:element name="IgnoreErrors" type="bool" />
          <xs:element name="GuestFSIndexingType" type="string" />
          <xs:element name="Credentials" type="PlainCredentialsType" />
          <xs:element name="TransactionLogsTruncation" type="string" />
          <xs:element name="IsFirstUsage" type="bool" />
          <xs:element name="IncludedIndexingFolders" type="StringListType" />
          <xs:element name="ExcludedIndexingFolders" type="StringListType" />
          <xs:element name="CredentialsId" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="GuestProcessingOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="AppAwareProcessingMode" type="string" />
          <xs:element name="FileSystemIndexingMode" type="string" />
          <xs:element name="IncludedIndexingFolders" type="StringListType" />
          <xs:element name="ExcludedIndexingFolders" type="StringListType" />
          <xs:element name="CredentialsId" type="string" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StringListType">
    <xs:choice minOccurs="0" maxOccurs="unbounded" >
      <xs:element name="Path" type="string" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="JobScheduleOptionsInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="RetryOptions" minOccurs="0" maxOccurs="1" type="JobScheduleRetryOptionsType" />
          <xs:element name="WaitForBackupCompletion" minOccurs="0" maxOccurs="1" type="bool" />
          <xs:element name="BackupCompetitionWaitingPeriodMin" minOccurs="0" maxOccurs="1" type="int" />
          <xs:element name="OptionsDaily" minOccurs="0" maxOccurs="1" type="JobScheduleDailyOptionsType" />
          <xs:element name="OptionsMonthly" minOccurs="0" maxOccurs="1" type="JobScheduleMonthlyOptionsType" />
          <xs:element name="OptionsPeriodically" minOccurs="0" maxOccurs="1" type="JobSchedulePeriodicallyOptionsType" />
          <xs:element name="OptionsContinuous" minOccurs="0" maxOccurs="1" type="JobScheduleContinuousOptionsType" />
          <xs:element name="OptionsBackupWindow" minOccurs="0" maxOccurs="1" type="JobScheduleBackupWindowOptionsType" />
          <xs:element name="OptionsDaisyChaining" minOccurs="0" maxOccurs="1" type="JobScheduleDaisyChainingOptionsType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobScheduleRetryOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="RetryTimes" minOccurs="0" maxOccurs="1" type="int" />
          <xs:element name="RetryTimeout" minOccurs="0" maxOccurs="1" type="int" />
          <xs:element name="RetrySpecified" minOccurs="0" maxOccurs="1" type="bool" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobScheduleDailyOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="Kind" minOccurs="0" maxOccurs="1" type="string" />
          <xs:element name="Days" minOccurs="0" maxOccurs="unbounded" type="DaysOfWeekEnumeration" />
          <xs:element name="Time" minOccurs="0" maxOccurs="1" type="Time" />
        </xs:sequence>
        <xs:attribute name="Enabled" type="bool" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobScheduleMonthlyOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="Time" minOccurs="0" maxOccurs="1" type="Time" />
          <xs:element name="DayNumberInMonth" minOccurs="0" maxOccurs="1" type="string" />
          <xs:element name="DayOfWeek" minOccurs="0" maxOccurs="1" type="string" />
          <xs:element name="Months" minOccurs="0" maxOccurs="unbounded" type="JobScheduleMonthEnumeration" />
        </xs:sequence>
        <xs:attribute name="Enabled" type="bool" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobSchedulePeriodicallyOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="Kind" minOccurs="0" maxOccurs="1" type="string" />
          <xs:element name="FullPeriod" minOccurs="0" maxOccurs="1" type="int" />
          <xs:element name="Schedule" minOccurs="0" maxOccurs="1" type="TimePeriodsType" />
        </xs:sequence>
        <xs:attribute name="Enabled" type="bool" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TimePeriodsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Day">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="string">
                    <xs:attribute name="Name" use="required" type="string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobScheduleContinuousOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:attribute name="Enabled" type="bool" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobScheduleBackupWindowOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="TimePeriods" type="TimePeriodsType" />
        </xs:sequence>
        <xs:attribute name="Enabled" type="bool" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobScheduleDaisyChainingOptionsType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="PreviousJobUid" type="UidType" />
        </xs:sequence>
        <xs:attribute name="Enabled" type="bool" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FileCopyJobInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <!-- not implemented yet -->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplicaJobInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="Includes" minOccurs="0" maxOccurs="1" type="ObjectInJobListType" />
          <xs:element name="GuestProcessingOptions" minOccurs="0" maxOccurs="1" type="GuestProcessingOptionsType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TaskType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="TaskId" type="string" minOccurs="1" maxOccurs="1" />
          <xs:element name="State" type="string" minOccurs="1" maxOccurs="1" />
          <xs:element name="Operation" type="string" minOccurs="1" maxOccurs="1" />
          <xs:element name="Result" type="TaskResultInfoType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TaskListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element name="Task" type="TaskType" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="QueryResultType">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="Refs" type="EntityReferenceListType" />
        <xs:element name="Entities" type="EntitiesType"/>
        <xs:element name="Resources" type="ResourcesType" />
      </xs:choice>
      <xs:element name="Links" minOccurs="0" maxOccurs="1" type="LinkListType" />
      <xs:element name="PagingInfo" minOccurs="1" maxOccurs="1" type="PagingInfoType" />
    </xs:sequence>

  </xs:complexType>

  <xs:complexType name="PagingInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="Links" type="LinkListType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="PageNum" use="required" type="int" />
        <xs:attribute name="PageSize" use="required" type="int" />
        <xs:attribute name="PagesCount" use="required" type="int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!--
  <xs:complexType name="EntityListType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any />
    </xs:choice>
  </xs:complexType>
  -->

  <xs:complexType name="BackupEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="Ref" type="EntityReferenceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BackupEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="Backup" type="BackupEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplicaEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="Ref" type="EntityReferenceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplicaEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="Replica" type="ReplicaEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RestorePointEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="Ref" type="EntityReferenceType" />
          <xs:element name="BackupDateUTC" type="DateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RestorePointEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="RestorePoint" type="RestorePointEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmRestorePointEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="CreationTimeUTC" type="DateTime" />
          <xs:element name="VmName" type="string" />
          <xs:element name="Algorithm" type="string" />
          <xs:element name="PointType" type="string" />
        </xs:sequence>
        <xs:attribute name="VmDisplayName" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmRestorePointEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="VmRestorePoint" type="VmRestorePointEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmReplicaPointEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="CreationTimeUTC" type="DateTime" />
          <xs:element name="VmName" type="string" />
          <xs:element name="Algorithm" type="string" />
          <xs:element name="PointType" type="string" />
        </xs:sequence>
        <xs:attribute name="VmDisplayName" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmReplicaPointEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="VmRestorePoint" type="VmReplicaPointEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmRestorePointMountType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="FSRoots" type="DirectoryEntryListType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmRestorePointMountListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="VmRestorePointMount" type="VmRestorePointMountType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmReplicaPointMountType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="FSRoots" type="DirectoryEntryListType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmReplicaPointMountListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="VmReplicaPointMount" type="VmReplicaPointMountType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CatalogVmEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="VmDisplayName" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="CatalogVmEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="CatalogVm" type="CatalogVmEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CatalogVmRestorePointEntityType">
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="BackupDateUTC" type="DateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CatalogVmRestorePointEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="CatalogVmRestorePoint" type="CatalogVmRestorePointEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FileSystemEntryType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:choice>
          <xs:element name="FileEntry" type="FileEntryType" />
          <xs:element name="DirectoryEntry" type="DirectoryEntryType" />

        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DirectoryEntryType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="Path" type="string"/>
          <xs:element name="Name" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FileEntryType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="Path" type="string"/>
          <xs:element name="Name" type="string" />
          <xs:element name="Size" type="long" />
          <xs:element name="Owner" type="string" />
          <xs:element name="ModifiedDateUTC" type="DateTime" />
          <xs:element name="Actions" type="LinkListType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FileEntryListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:sequence>
          <xs:element name="FileEntry" type="FileEntryType"  minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HierarchyRootEntityType" >
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="HierarchyRootId" type="string"  minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RepositoryEntityType" >
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="Capacity" type="long"/>
          <xs:element name="FreeSpace" type="long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HierarchyRootEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:sequence>
          <xs:element name="HierarchyRoot" type="HierarchyRootEntityType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RepositoryEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:sequence >
          <xs:element name="Repository" type="RepositoryEntityType"  minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DirectoryEntryListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:sequence>
          <xs:element name="DirectoryEntry" type="DirectoryEntryType"  minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FileSystemEntriesType" >
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="Files" type="FileEntryListType" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Directories" type="DirectoryEntryListType" minOccurs="0" maxOccurs="1" />
          <xs:element name="PagingInfo" type="PagingInfoType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HierarchyItemListType" >
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="HierarchyItem" type="HierarchyItemType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BackupJobSessionEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="BackupJobSession" type="BackupJobSessionEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplicaJobSessionEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="ReplicaJobSession" type="ReplicaJobSessionEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RestoreSessionEntityListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="RestoreSession" type="RestoreSessionEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <xs:complexType name="FileRestoreSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:choice>
          <xs:element name="ToOriginalLocation">
            <xs:complexType />
          </xs:element>
          <xs:element name="ForDirectDownload">
            <xs:complexType />
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RestoreSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:choice>
          <xs:element name="VmRestoreSpec" type="VmRestoreSpecInfoType"/>
          <xs:element name="vCloudVmRestoreSpec" type="vCloudVmRestoreSpecInfoType" />
          <xs:element name="vCloudVAppRestoreSpec" type="vCloudVAppRestoreSpecInfoType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VmRestoreSpecInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="PowerOnAfterRestore" type="bool" maxOccurs="1" minOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- vCloud restore spec elements { -->

  <xs:complexType name="vCloudVmRestoreSpecInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="PowerOnAfterRestore" type="bool" minOccurs="0" maxOccurs="1" />
          <xs:element name="HierarchyRootUid" type="UidType" minOccurs="1" maxOccurs="1" />
          <xs:element name="vAppRef" type="HierarchyObjRefType" minOccurs="1" maxOccurs="1" />
          <xs:element name="VmRestoreParameters" type="vCloudVmRestoreParametersInfoType" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="vCloudVAppRestoreSpecInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="PowerOnAfterRestore" type="bool" minOccurs="0" maxOccurs="1" />
          <xs:element name="HierarchyRootUid" type="UidType" minOccurs="1" maxOccurs="1" />
          <xs:element name="OrgVdcRef" type="HierarchyObjRefType" minOccurs="1" maxOccurs="1" />
          <xs:element name="vAppNewName" type="string" minOccurs="0" maxOccurs="1" />
          <xs:element name="VmsRestoreParameters">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Vm" type="vCloudVmRestoreParametersInfoType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="vCloudVmRestoreParametersInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="VmRestorePointUid" type="UidType" minOccurs="1" maxOccurs="1" />
          <xs:element name="VmNewName" type="string" minOccurs="0" maxOccurs="1" />
          <xs:element name="DatastoreRef" type="HierarchyObjRefType" minOccurs="0" maxOccurs="1" />
          <xs:element name="OrgVdcStorageProfileRef" type="HierarchyObjRefType" minOccurs="0" maxOccurs="1" />
          <xs:element name="LinkedCloneVmTemplateRef" type="HierarchyObjRefType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- } vcd restore spec elements -->

  <xs:complexType name="BackupJobCloneInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="JobName" type="string"  maxOccurs="1" minOccurs="1" />
          <xs:element name="FolderName" type="string"  maxOccurs="1" minOccurs="1" />
          <xs:element name="RepositoryUid" type="UidType"  maxOccurs="1" minOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReplicaJobCloneInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="JobName" type="string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="VmSuffix" type="string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="JobCloneSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element name="BackupJobCloneInfo" type="BackupJobCloneInfoType" />
          <xs:element name="ReplicaJobCloneInfo" type="ReplicaJobCloneInfoType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TaskResultInfoType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="Message" type="string" />
        </xs:choice>
        <xs:attribute name="Success" use="required" type="bool" />
        <xs:attribute name="CredentialsNeeded" use="optional" default="false" type="bool" />
        <xs:attribute name="ConfirmationNeeded" use="optional" default="false" type="bool" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ErrorType">
    <xs:complexContent>
      <xs:extension base="InfoType">
        <xs:sequence>
          <xs:element name="FirstChanceExceptionMessage" minOccurs="0" maxOccurs="1" type="string" />
          <xs:element name="StackTrace" minOccurs="0" maxOccurs="1" type="string" />
        </xs:sequence>
        <xs:attribute name="Message" use="required" type="string" />
        <xs:attribute name="StatusCode" use="required" type="int" />
        <xs:attribute name="Status" use="required" type="string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HierarchyItemType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="ObjectRef" minOccurs="1" maxOccurs="1" type="HierarchyObjRefType" />
          <xs:element name="ObjectType" minOccurs="1" maxOccurs="1" type="string" />
          <xs:element name="ObjectName" minOccurs="1" maxOccurs="1" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="QuerySvcType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LookupSvcType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReportingSvcType">
    <xs:complexContent>
      <xs:extension base="ResourceType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="EnterpriseRoleEntityType" >
    <xs:complexContent>
      <xs:extension base="EntityType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseRoleEntityListType" >
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="EnterpriseRoleEntity" type="EnterpriseRoleEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="EnterpriseAccountEntityType" >
    <xs:complexContent>
      <xs:extension base="EntityType">
        <xs:sequence>
          <xs:element name="AccountType" type="AccountTypeEnumeration" />
          <xs:element name="Roles" type="EnterpriseRoleEntityListType" />
          <xs:element name="AllowRestoreAllVms" type="bool" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseAccountEntityListType" >
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="EnterpriseAccountEntity" type="EnterpriseAccountEntityType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseAccountHierarchyScopeType" >
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="Name" type="string" />
          <xs:element name="HierarchyRootName" type="string" />
          <xs:element name="Platform" type="string" />
          <xs:element name="HierarchyObjectType" type="string" />
          <xs:element name="State" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseAccountHierarchyScopeListType" >
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="EnterpriseAccountHierarchyScope" type="EnterpriseAccountHierarchyScopeType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="EnterpriseAccountInRoleType" >
    <xs:complexContent>
      <xs:extension base="ResourceType">
        <xs:sequence>
          <xs:element name="RoleName" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseAccountInRoleListType" >
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
          <xs:element name="EnterpriseAccountInRole" type="EnterpriseAccountInRoleType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HierarchyScopeCreateSpecType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="1" maxOccurs="unbounded" >
          <xs:element name="HierarchyScopeItem" type="HierarchyScopeCreateSpecItemType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HierarchyScopeCreateSpecItemType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:sequence>
          <xs:element name="HieararchyObjRef" type="HierarchyObjRefType" />
          <xs:element name="ObjectName" type="string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseAccountInRoleCreateSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:sequence>
          <xs:element name="EnterpriseRoleUid" type="UidType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseAccountInRoleCreateSpecListType">
    <xs:complexContent>
      <xs:extension base="ListType">
        <xs:choice minOccurs="1" maxOccurs="unbounded" >
          <xs:element name="EnterpriseRole" type="EnterpriseAccountInRoleCreateSpecType" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseSecuritySettingsType" >
    <xs:complexContent>
      <xs:extension base="ResourceType">

      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnterpriseAccountCreateSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:sequence>
          <xs:element name="AccountType" type="AccountTypeEnumeration" minOccurs="1" maxOccurs="1"/>
          <xs:element name="AccountName" type="string" minOccurs="1" maxOccurs="1" />
          <xs:element name="Roles" type="EnterpriseAccountInRoleCreateSpecListType" minOccurs="1" maxOccurs="1" />
          <xs:element name="AllowRestoreAllVms" type="bool" default="true" minOccurs="1" maxOccurs="1" />
          <xs:element name="HierarchyScopeObjects" type="HierarchyScopeCreateSpecType" maxOccurs="1" minOccurs="0" />
          <xs:element name="FlrSettings" type="FileRestoreSettingsSpecsType" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FileRestoreSettingsSpecsType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:sequence>
          <xs:element name="FlrInlaceOnly" type="bool" minOccurs="1" maxOccurs="1"/>
          <xs:element name="FlrExtentionRestrictions" type="string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="RebuildScopeJobSpecType">
    <xs:complexContent>
      <xs:extension base="SpecType">
        <xs:choice>
          <xs:element name="RebuildAll">
            <xs:complexType />
          </xs:element>
          <xs:element name="RebuildUnprocessed">
            <xs:complexType />
          </xs:element>
          <xs:element name="RebuildForCurrentUser">
            <xs:complexType />
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- enum types-->



  <xs:simpleType name="AccountTypeEnumeration">
    <xs:restriction base="string">
      <xs:enumeration value="User" />
      <xs:enumeration value="Group" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="JobScheduleMonthEnumeration">
    <xs:restriction base="string">
      <xs:enumeration value="January" />
      <xs:enumeration value="February" />
      <xs:enumeration value="March" />
      <xs:enumeration value="April" />
      <xs:enumeration value="May" />
      <xs:enumeration value="June" />
      <xs:enumeration value="July" />
      <xs:enumeration value="August" />
      <xs:enumeration value="September" />
      <xs:enumeration value="October" />
      <xs:enumeration value="November" />
      <xs:enumeration value="December" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DaysOfWeekEnumeration">
    <xs:restriction base="string">
      <xs:enumeration value="Sunday" />
      <xs:enumeration value="Monday" />
      <xs:enumeration value="Tuesday" />
      <xs:enumeration value="Wednesday" />
      <xs:enumeration value="Thursday" />
      <xs:enumeration value="Friday" />
      <xs:enumeration value="Saturday" />
    </xs:restriction>
  </xs:simpleType>




  <!-- base types { -->

  <xs:simpleType name="HierarchyObjRefType">
    <xs:restriction base="UrnType" />
  </xs:simpleType>

  <xs:simpleType name="UidType">
    <xs:restriction base="UrnType">
      <xs:pattern value="urn\:veeam\:[a-zA-Z_0-9\-]+\:[a-zA-Z_0-9\-]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UrnType">
    <xs:restriction base="string">
      <xs:pattern value="urn\:[a-zA-Z_0-9\-]+\:[a-zA-Z_0-9\-]+\:[a-zA-Z_0-9\-]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VersionType">
    <xs:restriction base="string">
      <xs:pattern value="[0-9]+\.[0-9]+(\.[0-9]+)?(\.[0-9]+)?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UrlType">
    <xs:restriction base="string" />
  </xs:simpleType>

  <xs:simpleType name="DateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>

  <xs:simpleType name="TimeSpan">
    <!-- xs:duration -->
    <xs:restriction base="xs:int" />
  </xs:simpleType>

  <xs:simpleType name="Time">
    <xs:restriction base="xs:time" />
  </xs:simpleType>

  <xs:simpleType name="string">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="long">
    <xs:restriction base="xs:long" />
  </xs:simpleType>

  <xs:simpleType name="int">
    <xs:restriction base="xs:int" />
  </xs:simpleType>

  <xs:simpleType name="ushort">
    <xs:restriction base="xs:unsignedShort" />
  </xs:simpleType>

  <xs:simpleType name="bool">
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>


  <!-- } base types -->


</xs:schema>
